spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:DUMMY_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET:DUMMY_CLIENT_SECRET}